.central-container{
    background-color: white;
    border-radius: 5px;
    width: 95%;
    height: 80%;
    align-items: center;
    margin: 25px;
}

.header-central-container{
    padding: 20px;
    margin: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.add-patient-button{
    color: black;
    padding-left: 20px;
}