.input-search{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: rgb(223, 223, 223);
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}