.nav-bar-container{
    background-color: #03bb85;
    align-content: stretch;
    height: 60px;
}

.page-title{
    padding-top: 5px;
    padding-left: 100px;
    margin: 0px;
    text-align: left;
}