.container{
    max-width: 1000px;
    margin: 15px auto;
    min-height: 600px;
    border: 2px solid #03bb85;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: left;
}

.auxiliar-container{
    width: 100%;
}
